# Ignorar carpetas de entorno virtual
venv/
env/
.env/
Lib/
Scripts/
__pycache__/

# Ignorar archivos compilados de Python
*.pyc
*.pyo


# Ignorar credenciales Firebase y archivos sensibles
sistemas-473713-a6cc172a689d.json
.streamlit/secrets.toml
